@font-face {
    font-family: 'PressStart';
    src: url("./fonts/PressStart2P-Regular.ttf");
}

*, *::after,*::before{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'PressStart', sans-serif;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header{
    color: white;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainScreen{
    width: 1280px;
    height: 769px;
    background-image: url('./stage.png');
    cursor: crosshair;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    border-image: linear-gradient(#0088ff, #bb00ff) 40;
    border-width: 5px;
    border-style: solid;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.565);
}
.score{
    width: 90%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.mainMenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lifePoints{
    margin: 20px;
}
.lifePoints p{
    font-size: 20px;
}
.mainScreen h1{
    font-size: 60px;
}
.explosion{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.bird{
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.birdR{
    transform: scaleX(-1);
}
img{
    user-select: none;
}

.difficulty button{
    font-family: 'PressStart';
    outline: none;
    border: none;
    padding: 10px;
    background-color: none;
    z-index: 50px;
}
.difficulty button:hover{
    cursor: pointer;
    background-color: skyblue;
    border: 5px solid black;
    font-size: 20px;
}