@font-face {
    font-family: 'PressStart';
    src: url("./fonts/PressStart2P-Regular.ttf");
}

*, *::after,*::before{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'PressStart', sans-serif;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header{
    color: white;
    opacity: 0.01;
    transition:opacity 1s ease-in;
}
.header h1{
    font-size: 50px;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.footer p{
    align-self: center;
    justify-self: center;
}
.footer a:visited{
    color: white;
}
.footer img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.lifePoints{
    opacity: 0;
    transition:opacity 1s ease-in;
}
.mainScreen{
    width: 1280px;
    height: 769px;
    background-image: url('./stage.png');
    cursor: crosshair;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    border-image: linear-gradient(#0088ff, #bb00ff) 40;
    border-width: 5px;
    border-style: solid;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.565);
}
#theme{
    display: none;
}
.score{
    width: 95%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    transition:opacity 2s ease-in;
    opacity: 0;
}
.mainMenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lifePoints{
    margin: 20px;
}
.lifePoints p{
    font-size: 20px;
}
.mainScreen h1{
    font-size: 60px;
}
.explosion{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.bird{
    width: 70px;
    height: 70px;
    object-fit: contain;
    z-index: 9;
}
.birdR{
    transform: scaleX(-1);
}
img{
    user-select: none;
}

.difficulty button{
    font-family: 'PressStart';
    outline: none;
    border: none;
    padding: 10px;
    background-color: none;
    z-index: 50px;
}
.difficulty button:hover{
    cursor: pointer;
    background-color: skyblue;
    border: 5px solid black;
    font-size: 20px;
}
.animate{
    opacity: 1;
}
.normal{
    width: 80px;
    height: 80px;
}
.duck3div{
    z-index: 3;
    width: 300px;
    height: 300px;
    position: absolute;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 2s;
    /* background-color: #0088ff; */
}
.duck3{
    position: absolute;
    top:0;
    left:0;
    width: 90px;
    height: 90px;
}

@-webkit-keyframes orbit{
    from {-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}

p, h1, img{
    user-select: none;
}